table {
    width: 100%;
}

.dynamic-width-column {
    width: 1%;
    white-space: nowrap;
  }

  .user-list-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .user-list-header h2 {
    margin: 0;
  }

  .mr-2 {
    margin-right: 10px;
  }